@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

:root {
  /* colors */
  --primary-color: #f5f5f5;
  --primary-color-darken: #475756;
  --secondary-color: #ff6347;
  --bg-color: #0a011f;
  --bg-viewbox: #0b0e37;

  --slider-color: #eae8ff;
  --slider-bg-color: #9290a0;

  /* text */
  --line-height: 1.75;
  --font-family-section-title: "Poppins";
  --font-family-viewbox: "Roboto Mono";

  /* border radius */
  --border-radius: 1vh;
}
