/* predefined color scheme */
:root {
  --primary-color: #303030;
  --primary-tint: #ff00ff;
  --primary-shade: #ffb300;

  --secondary-color: #2979ff;
  --secondary-tint: #2900ff;
  --secondary-shade: #29b300;

  --bg-white: #ffffff;
  --bg-dark: #130f0f;

  --text-black: #130f0f;
  --text-white: #ffeaea;

  --link-color: #ffeaea;

  --succes-color: #a2d5ab;

  --warning-color: #852020;

  --light-grey: #f5f7f8;
  --grey: #cfd8dc;
  --mid-grey: #465c67;
  --dark-grey: #253137;
}



/*  */
/* general styling */
/*  */
body {
  background-color: var(--bg-white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  border: 0;
  outline: 0;
}

.container {
  background-color: var(--bg-dark);

  opacity: 80%;

  color: var(--text-white);
  margin: 0;
  padding: 1vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 30vh;
  align-items: center;
}
